<% javascript 'prototype.min' %>
<% javascript 'plate'%>

<div id="overview">

  <div id="exercise-set-description">
    <% if @exercise_set %>

      <h2><%=h @exercise_set.title %></h2>
      <p><%=h @exercise_set.description %></p>

    <% else %>

      Youv'e finished all the exercises for now. Why don't you try a retake?

    <% end %>
  </div>

  <div id="recommended-exercises">

    <div style="text-align: center;">
      <img id="ex-spinner" src="/images/spinner.gif" style="display: none;"/>
    </div>

    <div id="plate-exercise-wrapper">
      <div id="plate-exercise"></div>
    </div>

    <div id="next-link" style="display: none; float: right;">
      <%= content_tag(:button, image_tag('next.png'),:type=>'submit', :style=>"cursor: pointer;", :onClick=>"postNewPlate()")%>
    </div>

    <img id="plate-spinner" src="/images/spinner.gif" style="display: none;"/>
    <canvas id="canvas" width="600" height="450"></canvas> 
  </div>

</div>

<script type="text/javascript">
  /*TODO: Figure out a more RAILS way to send the ajax request for the
          exercise that the user clicks on*/
  function exerciseClicked(obj){
    Element.hide("plate-exercise");
    Element.show("ex-spinner");
    new Ajax.Updater('plate-exercise', 
        '/overview/show_plate_exercise/'+obj.ex_id, 
        {asynchronous:true, 
         evalScripts:true,
         onComplete: function(){Element.hide('ex-spinner');Element.show('plate-exercise')}});
  }

  function allDone(){
    Element.show('next-link');
  }

  function postNewPlate(){
    <%= remote_function(:url=>url_for(:action=>:new_plate),
          :success=>"initPlate(document.getElementById('canvas'), request.responseJSON, exerciseClicked, allDone);drawSceneObjects()",
          :failure=>"alert('oops, an error occured')",
          :before=>"Element.show('plate-spinner')",
          :complete=>"Element.hide('plate-spinner')") %>
  }

  function init(){
    Element.hide('next-link');
    <%= remote_function(:url=>url_for(:action=>:current_plate),
          :success=>"initPlate(document.getElementById('canvas'), request.responseJSON, exerciseClicked, allDone);drawSceneObjects()",
          :failure=>"alert('oops, an error occured')",
          :before=>"Element.show('plate-spinner')",
          :complete=>"Element.hide('plate-spinner')") %>
  }

  init();
</script>
