<% results = grade_sheet.unit_test_results_hash %>

<div class="gradesheet">
	<table class="column span-24 tests">
		<tr>
			<th>Unit Test</th>
			<th>Expected</th>
			<th>Result</th>
			<th>Points</th>
		</tr>
			<% results[:tests].each_pair do |test_title, test_results| %>
				<tr>
					<td> <%=h test_title%></td> 
					<td> <%=h test_results[:expected].blank? ? '""' : test_results[:expected]%>  </td>
					<td><%=h test_results[:points] != 0 ? "Nice!" : "Oops" %>                    </td>
					<td> <%=h test_results[:points] %>                                           </td>
				</tr>
			<% end %>
			<tr>
				<th>Final Grade: <%=h results[:grade] %></th>
			</tr>
	</table>

	<%= render :partial=>'grade_sheets/recommendation', :locals=>{:grade_sheet=>grade_sheet}  %>
	
	<table class="column span-24 exercise-statistics">
		<caption>Exercise Stats</caption>
		<tr>
			<td>Average Grade:</td>
			<td><%=h grade_sheet.exercise.average_grade %></td>
		</tr>
	</table>
	
	
	<pre class="column span-23 solution-code">
		<%= highlight_code(:c, grade_sheet.src_code) %>
	</pre>
</div>


