<div class="gradesheet-text">
	<% scored_higher_than_average = true if grade_sheet.grade > grade_sheet.exercise.average_grade %>
	<% style_class = scored_higher_than_average ? 'green-text' : 'default' %>

	<% if scored_higher_than_average %>
		<p class="<%= style_class %>">
			<%=h "Nice! You scored higher than the average for this exercise!" %>
		</p>
	<% else %>
		<p>
			<%=h "Oh no! You scored lower than the average grade! Check out the tutorial for some neat hints!" %>
		</p>
	<% end %>
	
		<p class="<%=h style_class %>">
			Your Grade: <%=h grade_sheet.grade %>
		</p>
		
		<p class="<%=h style_class  %>">
			Average Grade: <%=h grade_sheet.exercise.average_grade %>
		</p>
</div>