<div id="register">
  <h2 class="page-title">Sign Up Is Free!</h2>
    <p>
      We are still in Beta so you can check us out for free! 
    </p>

    <%= error_messages_for 'user', :header_message=>nil, :message=>nil %>

    <% form_for(@user) do |f| %>
      <p>
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>
</div>
