<div id="featured">
    <div id="new-user">
      <h2>It's Beta Time!</h2>

        <%= error_messages_for 'user', :header_message=>nil, :message=>nil %>

        <% form_for(@user) do |f| %>
          <p>
            <%= f.label :username %><br />
            <%= f.text_field :username, :class=>'field' %>
          </p>
          <p>
            <%= f.label :password %><br />
            <%= f.password_field :password, :class=>'field' %>
          </p>
          <p>
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, :class=>'field'%>
          </p>
          <p>
            <%= f.label :email %><br />
            <%= f.text_field :email, :class=>'field' %>
          </p>
          <p>
            <%= f.submit 'Create' %>
          </p>
        <% end %>
    </div>
</div>
