<% scored_higher_than_average = true if grade_sheet.grade > exercise.average_grade %>
<% style_class = scored_higher_than_average ? 'green-text' : 'default' %>

<% if scored_higher_than_average %>
	<p class="<%= style_class %>">
		<%=h "Nice! You scored higher than the average for this exercise!" %>
	</p>
<% else %>
	<p>
		<%=h "Oh no! You scored lower than the average grade! Check out the tutorial for some neat hints!" %>
	</p>
<% end %>

<div id="<%= style_class %>">
	<p>
		Your Grade: <%=h grade_sheet.grade %>
	</p>
	<p>
		Average Grade: <%=h exercise.average_grade %>
	</p>
</div>
