<% javascript '/javascripts/edit_area/edit_area_full' %>
<% javascript '/javascripts/edit_area_resizing'%>
<% content_for(:onload) do %> 
  <%= "resizeEditAreaDimensions(); resizeExerciseTextDimensions()" %>
<% end %>

<script type='text/javascript' language='javascript'>
    editAreaLoader.init({
      id : "textarea_1"		       
      ,syntax: "c"			         
      ,start_highlight: true 
      ,allow_toggle:  <%= Rails.env == 'production' ? 'false' : 'true' %>
      ,toolbar: "undo, redo, help"
      ,replace_tab_by_spaces: 2
      ,allow_resize: 'no'
      ,gecko_spellcheck: false
      ,min_width: 50
      ,min_height: 50
    });
</script>

<% form_tag url_for(:action=>:grade), :id=>'editor' do %>

	<%= text_area_tag :textarea_1, editor_content || "", :name=>"code" %><br/>
	
	<%= submit_to_remote "check_syntax",'Check Syntax', 
				:update=>:message,
				:url=>{:action=>'check_syntax'},
				:before=>"Element.show('spinner');
									$('message').innerHTML = 'checking...';
				          $('textarea_1').setValue(editAreaLoader.getValue('textarea_1'));"%>
				
	<%= periodically_call_remote :update=>:message,
				:url=>{:action=>'syntax_status'}, 
				:condition=>"/checking/.test( $('message').innerHTML )",
				:complete=>"if( ! /checking/.test($('message').innerHTML) ){ Element.hide('spinner'); }"%>

	<%= submit_tag "Submit Solution" %>

  <%= button_to_function "Quit", "window.location=\"#{url_for :action=>:quit}\"" %>
<% end %>

<div id='dummy-unfocus-div'></div>
