<% javascript '/javascripts/edit_area/edit_area_full' %>
<% javascript '/javascripts/edit_area_resizing'%>

<% form_tag url_for(:action=>:grade), :id=>'editor' do %>

	<%= text_area_tag :textarea_1, editor_content || "", :name=>"code" %><br/>
	
	<%= submit_to_remote "check_syntax",'Check Syntax', 
        :html=>{:id=>'check_syntax'},
				:update=>:message,
				:url=>{:action=>'check_syntax'},
				:before=>"Element.show('spinner');
                  $('check_syntax').disable();
									$('message').innerHTML = 'checking...';
                  $('textarea_1').setValue(editAreaLoader.getValue('textarea_1'));"%>
				
	<%= periodically_call_remote :update=>:message,
				:url=>{:action=>'syntax_status'}, 
				:condition=>"/checking/.test( $('message').innerHTML )",
				:complete=>"if( ! /checking/.test($('message').innerHTML) ){ Element.hide('spinner'); $('check_syntax').enable();}"%>

	<%= submit_tag "Submit Solution" %>

  <%= button_to_function "Quit", "window.location=\"#{url_for :action=>:quit}\"" %>
<% end %>

<div id='dummy-unfocus-div'></div>

<script type='text/javascript' language='javascript'>

  editAreaLoader.init({
    id : "textarea_1"		       
    ,syntax: "c"			         
    ,start_highlight: true 
    ,allow_toggle:  <%= Rails.env == 'production' ? 'false' : 'true' %>
    ,toolbar: "undo, redo, help"
    ,replace_tab_by_spaces: 2
    ,allow_resize: 'no'
    ,gecko_spellcheck: false
    ,min_width: 400 
    ,min_height: 400
    ,EA_load_callback: "resizeEditArea"
  });

  window.onresize = queuedResize
</script>
