<% javascript 'prototype' %>
<% stylesheet 'screen.css' %>
<% stylesheet 'ie.css' %>
<% stylesheet 'application.css' %>
<% stylesheet 'grading.css' %>
<% stylesheet 'highlight.css' %>

<div  id="center" class="column span-24">

	<h3 class="page-title">Unit Test Results</h3>

	<div id="message"><p>grading...</p></div>

	<%= image_tag 'bar.gif', :id=>'bar' %><br/>

	<%= link_to "Read Tutorial", {:controller=>:exercises, :action=>:show_tutorial, :id=>@exercise}, :id=>'tutorial', :style=>'display: none;' %> &nbsp;
	<%= link_to "Home", current_user_home %>

	<%= periodically_call_remote :update=>:message,
				:url=>{:action=>'grade_status', :id=>@exercise.id}, 
				:condition=>"/grading/i.test($('message').innerHTML)",
				:complete=>"if( ! /grading/i.test($('message').innerHTML )){ Element.hide('bar');Element.show('tutorial'); }"%>
</div>


<div id="fade" class="black-overlay"></div>
<div id="rating-box" class="white-content">
  <h2>How did you find this exercise?</h2>
  <%= link_to_function "Too Hard", "Element.hide('fade');Element.hide('rating-box')", :id=>'too-hard'%>
  <%= link_to_function "Too Easy", :id=>'too-easy' %>
  <%= link_to_function "Good Challenge!", :id=>'good-challenge'%>
</div>
