<h3><%= @exercise.title %></h3>

<div id="exercise_problem_text"><%=@exercise.problem%></div><br/>

Time Remaining: <span id="timer">retrieving time...</span><br/>
<%= periodically_call_remote :update=>:timer,
			:frequency=>2,
 			:url=>{:action=>:get_time_remaining, :id=>@exercise},
			:condition=>"!(/00:00/.test($('timer').innerHTML))",
			:complete=>"if(/00:00/.test($('timer').innerHTML)){window.location.href = '#{url_for :action=>:did_not_finish}'}"%>

<div id="hints"></div>
<%= render :partial=>'hint', :collection=>@exercise.hints %>

<% templates = @exercise.solution_templates.written_in('c')
   prototype = templates.first.prototype if templates.first %>
<%= render :partial => 'text_editor', :locals=>{:editor_content=>prototype} %>


<span id="message"></span>
<%= spinner %>



<!-- Polling for the grade results or syntax-->
<div id="syntax_polling"></div> 
<div id="polling_grade"></div>


