<% javascript 'prototype' %>
<% stylesheet 'exercise' %>
	
<%= render :partial => 'timer', :locals=>{:count_down_to=>@target_end_time} %>
	
<div id="content">

	<p id="time-remaining">Time Remaining: <span id="timer">retrieving time...</span></p>

	<div id="left_content">
		<% templates = @exercise.solution_templates.written_in('c')
		   prototype = templates.first.prototype if templates.first %>
		<%= render :partial => 'text_editor', :locals=>{:editor_content=>prototype} %>
		<span id="message"></span> <%= image_tag 'spinner.gif', :id=>'spinner', :style=>"display:none;" %>
	</div>

	<div id="exercise_problem_text" class="">
		<h3><%= @exercise.title %></h3>	
		<%= link_to_function "Show In Separate Window", "window.open('#{url_for :action=>:show_exercise_text, :id=>@exercise}','#{@exercise.title}', 'width=500,height=600,toolbar=no,location=no,directories=yes,status=yes,menubar=yes,scrollbars=yes,copyhistory=yes,resizable=yes'); Element('exercise_problem_text').hide()" %>
		<%=@exercise.problem%>
		<div id="hints"></div>
		<%= render :partial=>'hint', :collection=>@exercise.hints %>
	</div>
	
</div> <!-- end content -->
