<h3>Hey there <%=h current_user.username %>! To start things off here are some sample exercise sets you can try out!</h3>
<div id="recommended_exercise_sets">
	<ul>
		<% @exercises.each do |ex| %>
			<li class=<%= to_class(ex) %>>
				<%= link_to ex.title, ex %>
				<span class="exercise_set_statistics">
					<%=h "#{ex.completed_users.count} users, #{ex.average_grade} avg grade"%>
				</span>
					<%=h "My Grade #{current_user.grade_for? ex}" if current_user.grade_for?(ex)%>
			</li>
		<% end %>
	</ul>
</div>

<table>
	<tr><td>Exercises Completed: <%=h current_user.completed_exercises.count %></td></tr>
<table>
