Hey there <%=h current_user.username %>! To start things off here are some sample exercise sets you can try out!
<div id="recommended_exercise_sets">
	<ul>
		<% @exercise_sets.each do |set| %>
			<li class="exercise_set">
				<%= link_to set.title, set %>
				<span class="exercise_set_statistics">
					<%=h "#{set.users_completed} users, #{set.average_grade} avg grade"%>
				</span>
				<span class="<%=h current_user.completed?(set) ? 'complete' : 'incomplete' %>">
					<%= 'done' if current_user.completed?(set)%>
				</span>
			</li>
		<% end %>
	</ul>
</div>

