<table>
  <tr>
		<th>Title</th>
		<th>Users Completed</th>
		<th>Average Grade</th>
		<th>My Grade</th>
  </tr>

	<% exercise_sets.each do |exercise_set| %>
		<tr class=<%= to_class exercise_set %>>
			<td> <%= link_to exercise_set.title, exercise_set %> </td>
			<td> <%= exercise_set.completed_users.count %> </td>
			<td> <%= exercise_set.average_grade %></td>
			<td> <%= current_user.grade_for?(exercise_set) %></td>
	    <td> <%= link_to 'Edit', edit_exercise_set_path(exercise_set) %></td>
	    <td> <%= link_to 'Destroy', exercise_set, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
</table>