<div id="exercise_set">
	<%= @exercise_set.title %>
	<%= @exercise_set.description %><br/>

	users completed: <%= @exercise_set.completed_users ? @exercise_set.completed_users.count : '' %><br/>
	average grade: <%= @exercise_set.average_grade %><br/>
	<ul id="exercise_list">
		<%=  render :partial=>'exercises/exercise', :collection=>@exercise_set.exercises%>
	</ul>
</div>
