<div class="exercise">
	
  <span class="exercise-title"><%=h exercise.title %></span>
  <% grade = current_user.grade_for(exercise) %>	
  <span class="<%= grade_to_class(grade) %>">
    <em>(<%=h current_user.grade_for(exercise) %>)</em>
  </span>

   <p class="exercise-description">
      <%=h exercise.description %>
  </p>
	
		<%= link_to(current_user.grade_for(exercise) ? "Retake" : "Start Exercise", :controller=>:tutor, :action=>:show, :id=>exercise)  %> 
    <% if current_user.grade_for(exercise) %>
      |
      <%= link_to("Tutorial", :controller=>:exercises, :action=>:show_tutorial, :id=>exercise) %> |
      <%= link_to "Gradesheet", :controller=>:grade_sheets, :action=>:show_user_grade_sheet, :id=>exercise %> |
      <%= link_to "All Gradesheets", :controller=>:grade_sheets, :action=>:show_all, :id=>exercise  %>
    <% end %>
	
</div>
