<li class= <%= to_class(exercise) %> >
	<span class="exercise_title"> <%=h exercise.title %></span><br/>
	<span class="exercise_description"><%= exercise.description %></span><br/>
	<span class="exercise_statistics">
		<%=h exercise.completed_users.count%> Users, Average Grade: <%=h exercise.average_grade %>, My Grade: <%=h current_user.grade_for?(exercise) %>
	</span><br/>
	<%= link_to "Retake", :controller=>:tutor, :action=>:show, :id=>exercise %> |
	<%= link_to "Tutorial", :controller=>:exercises, :action=>:show_tutorial, :id=>exercise %> |
	<%= link_to "Gradesheet", :controller=>:grade_sheets, :action=>:show_user_grade_sheet, :id=>exercise %>
</li>

