<fieldset>
<legend>Or Create An Exercise Set</legend>

<% fields_for 'exercise[new_exercise_set_attributes]' do |f|%>

	<p>	
		<%= f.label :title, "Set Title" %><br/>
		<%= f.text_field :title %><br/>
	</p>	
	
	<p>	
		<%= f.label :description, "Set Description" %><br/>
		<%= f.text_field :description %><br/>
	</p>	
	
	<p>	
		<%= f.label :algorithm_list, "Set Algorithm Tags" %><br/>
		<%= f.text_field :algorithm_list %><br/>
	</p>	
	
	<p>
		<%= f.label :data_structure_list, "Set Data Structure Tags" %><br/>
		<%= f.text_field :data_structure_list%><br/>
	</p>	
<% end %>	
</fieldset>

