<div class="figure">
  <% new_or_existing = figure.new_record? ? 'new' : 'existing' %>
  <% prefix = "exercise[#{new_or_existing}_figure_attributes][]" %>

  <% if figure.new_record? %>
    <% fields_for prefix, figure  do |f| %>
        <%= f.label :image, "Upload Figure" %> <br/>
        <%= f.file_field :image %>	<%= link_to_function 'Remove', "this.up('.figure').remove()" %><br/>
    <% end %>
  <% else %>
    <% fields_for prefix, figure  do |f| %>
      <%= f.label :image, "Image" %>
      <%= f.text_field :image, :disabled=>true, :size=>75%>
      <%= link_to_function 'Remove', "this.up('.figure').remove()" %><br/>
    <% end %>
    <%= image_tag figure.image.url  %><br/>
    <%= label_tag :img_html, "Img link" %></br>
    <%= text_area_tag(:img_html, image_tag(figure.image.url), :rows=>1, :cols=>50) %>
  <% end %>
</div>
