<% form_for(exercise, :html=>{:multipart=>true}) do |f| %>
			
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description%>
  </p>

	<p>
		<%= f.label :algorithm_list %><br/>
		<%= f.text_field :algorithm_list %><br/>
	</p>
	
	<p>
		<%= f.label :data_structure_list %><br/>
		<%= f.text_field :data_structure_list %><br/>
	</p>

	<p>
		<%= f.label :problem %><br/>
		<%= f.text_area :problem %>
	</p>
	
	<p>
		<%= f.label :tutorial %><br/>
		<%= f.text_area :tutorial%>
	</p>
	
	<div id="hints">
		<%= render :partial => 'hint', :collection=>@exercise.hints %>
	</div>
	<%= add_hint_link %>
	
	<p>
		<%= f.label :minutes %><br/>
		<%= f.select :minutes, %w{15 30 45 60 90 120} %>
	</p>
	
	<div id="code_templates">
		<p>
			<%= render :partial=>'code_template', :collection=>@exercise.templates %>
		</p>
	</div>
	<%= add_template_link %>
	
	<div id="unit_tests">	
		<p>	
			<%= render :partial => 'unit_test', :collection=>@exercise.unit_tests %>
		</p>
	</div>	
	<%= add_unit_test_link %>
	
	<div id="figures">
		<p>
			<%= render :partial=>'figure', :collection=>@exercise.figures %>
		</p>	
	</div>
	<%= add_figure_link %>

	<p>
		<%= f.label :exercise_set_id, "Exercise Set" %>
		<%= f.collection_select :exercise_set_id, ExerciseSet.find(:all), :id, :title, :prompt=>'Select Exercise Set' %>
	</p>
	
	<p>
		<% #todo: Write cucumber and spec tests for these %>
		<%= render :partial => 'exercise_set', :object=>@exercise.exercise_set, :locals=>{:exercise_sets=>@exercise_sets} %>

	</p>
			
	
  <p>
    <%= f.submit %>
  </p>
<% end %>