<% content_for :head do %>
	<%= javascript_include_tag 'prototype.min' %>
<% end %>

<% form_for(exercise, :html=>{:multipart=>true}) do |f| %>
			
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label :finished, "Finished and display?"%>
    <%= f.check_box(:finished, {}, 1, 0) %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description%>
  </p>

	<p>
		<%= f.label :algorithm_list %><br/>
		<%= f.text_field :algorithm_list %><br/>
	</p>
	
	<p>
		<%= f.label :data_structure_list %><br/>
		<%= f.text_field :data_structure_list %><br/>
	</p>

	<p>
		<%= f.label :problem %><br/>
		<%= f.text_area :problem %>
	</p>
	
	<p>
		<%= f.label :tutorial %><br/>
		<%= f.text_area :tutorial%>
	</p>
	
	<div id="hints">
		<%= render :partial => 'hint', :collection=>@exercise.hints %>
	</div>
	<%= add_model_link("Add Hint", :hints, :partial=>'hint', :object=>Hint.new) %>
	
	<p>
		<%= f.label :minutes %><br/>
    <%= f.text_field :minutes %> <br/>
	</p>
	
	<div id="solution_templates">
		<p>
			<%= render :partial=>'solution_template', :collection=>@exercise.solution_templates%>
		</p>
	</div>
	<%= add_model_link "Add Solution Template", :solution_templates, :partial=>'solution_template', :object=>SolutionTemplate.new %>
	
	<div id="unit_tests">	
		<p>	
			<%= render :partial=>'unit_test', :collection=>@exercise.unit_tests%>
		</p>
	</div>
	<%= add_model_link "Add Unit Test", :unit_tests, :partial=>'unit_test', :object=>UnitTest.new %>

	<p>
		<%= f.label :exercise_set_id, "Exercise Set" %>
    <%= f.collection_select :exercise_set_id, ExerciseSet.find(:all).push(ExerciseSet.new(:title=>"None")), :id, :title, :prompt=>'Select Exercise Set' %>
	</p>
	
	<p>
		<% #todo: Write cucumber and spec tests for these %>
		<%= render :partial => 'exercise_set', :object=>@exercise.exercise_set, :locals=>{:exercise_sets=>@exercise_sets} %>
	</p>

  <p>
    <%= f.label :order, "Order In Set" %>
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
