<% new_or_existing = template.new_record? ? 'new' : 'existing' %>
<% prefix = "exercise[#{new_or_existing}_template_attributes][]" %>

<div class="template">
<% fields_for prefix, template do |f|%>
	<% if template.src_code.blank? then %>
		<%= f.label :template_file, "Upload Template" %><br/>
		<%= f.file_field :template_file%>
	<% else %>
		<%= f.label :src_language %>
		<%= f.text_field :src_language%><br/>
	
		<%= f.label :src_code %><br/>
		<%= f.text_area :src_code %><br/>
	<% end %>
<% end %>
</div>