<h1>Listing exercises</h1>

<div class='column span-24'>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Set</th>
    <th>Description</th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%=h exercise.title %></td>
    <td><%=h exercise.exercise_set ? exercise.exercise_set.title : "(orphan)" %></td>
    <td><%=h exercise.description %></td>
    <td><%= link_to 'Show', exercise %></td>
    <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
    <td><%= link_to 'Destroy', exercise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exercise', new_exercise_path %>
