<h1>New exercise</h1>

<% form_for(@exercise) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size=>110%>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description, :size=>110%>
  </p>

	<p>
		<%= label_tag 'tags', 'Tags' %>
		<%= text_field_tag 'tags', '', :size=>110,:max_length=>255 %>
	</p>

	<p>
		<%= f.label :problem %><br/>
		<%= f.text_area :problem, :cols=>80, :rows=>24 %>
	</p>
	
	<p>
		<%= f.label :tutorial %><br/>
		<%= f.text_area :tutorial, :cols=>80, :rows=>30%>
	</p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', exercises_path %>