<h1>New exercise</h1>

<% form_for(@exercise,
			:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size=>110%>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description, :size=>110%>
  </p>

	<p>
		<%= label_tag 'tags', 'Tags' %><br/>
		<%= text_field_tag 'tags', '', :size=>110,:max_length=>255 %>
	</p>

	<p>
		<%= f.label :problem %><br/>
		<%= f.text_area :problem, :cols=>80, :rows=>24 %>
	</p>
	
	<p>
		<%= f.label :tutorial %><br/>
		<%= f.text_area :tutorial, :cols=>80, :rows=>30%>
	</p>
	
	<p>
		<%= label_tag "hint" %><br/>
		<%= text_area_tag 'hint', '', :cols=>80, :rows=>15 %>
		<%= submit_tag 'Attach Another Hint', :name=>'attach_hint' %>
	</p>
	
	<p>
		<%= f.label :minutes %><br/>
		<%= f.select :minutes, %w{15 30 45 60 90 120} %>
	</p>
	
	<p>
		Image<br/>
		<%= file_field_tag "Upload new image" %>
		<%= submit_tag "Attach Another Image", :name=>'attach_image' %>
	</p>
	
	<p>
		<%= f.label :unit_test %><br/>
		<%= f.file_field :unit_test %>
	</p>
	
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', exercises_path %>