<h3> <%=h @exercise.title %> </h3>

<span class="exercise_description"><%= @exercise.description %></span><br/>

<span class="exercise_statistics">
	<%=h @exercise.completed_users.count%> users, <%=h @exercise.average_grade %> avg grade, My Grade: <%= current_user.grade_for?(@exercise) %>
</span><br/>

<%= link_to "Start Exercise", {:controller=>:tutor, :action=>:confirm, :id=>@exercise}%> | 
<%= link_to 'Edit', edit_exercise_path(@exercise) %>
