<h3> <%=h @exercise.title %> </h3>

<span class="exercise_description"><%= @exercise.description %></span><br/>

<span class="exercise_statistics">
	<%=h @exercise.completed_users.count%> users, <%=h @exercise.get_stat('average_grade') %> avg grade, My Grade: <%= current_user.grade_for(@exercise) %>
</span><br/><br/>

<%= @exercise.problem %><br/>

<%= link_to "Do Exercise", :controller=>:tutor, :action=>:show, :id=>@exercise%> |
<%= link_to "View Tutorial", :controller=>:exercises, :action=>:show_tutorial, :id=>@exercise %> |
<%= link_to 'Edit Exercise', edit_exercise_path(@exercise) %>
