<% if current_user == nil or current_user.anonymous?%>
  <div id="featured">
    <h2>
      Sample Tutorial
    </h2>
  </div>
<% end %>

<div id="tutorial">
  <%= link_to("Edit", edit_exercise_path(@exercise)) if current_user.has_role?("admin") %>

  <div id="exercise-problem-text">
    <h1> <%= @exercise.title %> </h1>
    <%= @exercise.problem %>
  </div>
  
  <div id="tutorial-text">
    <%= @tutorial_html %>
  </div>
</div>

<a id="feedback-link" href="" 
  onclick="document.getElementById('feedback-form').style.display = 'block'; return false;"> 
  <img src="/images/feedback.png" width="99" height="128"/>
</a>

<div id="feedback-form" style="display: none;">

  <div id="fade" class="black-overlay"></div>

  <div class="white-content">

    <%= link_to_function( image_tag("x.png", :style=>"float: right;",:width=>25, :height=>25), 
      "Element.hide('feedback-form').hide") %>

    <% form_remote_tag(:url=>{:controller=>:feed_back_comments, :action=>:create},
                       :after=>"document.getElementById('feedback-form').style.display = 'none'",
                       :update=>"feedback-form",
                       :position=>:bottom) do%>
      <%= label "feed_back_comment", "email"  %><br/>
      <%= text_field "feed_back_comment", "email"%><br/>
      <%= label "feed_back_comment", "comment"  %><br/>
      <%= text_area "feed_back_comment", "comment"%><br/>
      <%= submit_tag "Send" %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'prototype.min' %>
