<div id="login" class="column span-24 last">
	
	<% form_for @user_session do |f| %>
		
	    <%= f.label :username %><br/>
	    <%= f.text_field :username %><br/>

	    <%= f.label :password %><br/>
	    <%= f.password_field :password %></br>
		<br/>
	  <%= f.submit "Login" %> <br/>
	
		<div class="errors">
  		<%= error_messages_for('user_session', :header_message=>nil, :message=>nil) %>
		</div>
	<% end %>
	
</div>