<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Practice Your Programming Skills") %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css" />
    <!--[if IE]>
        <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/forms.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/application.css" />
   	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/header.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/app-nav.css"/>
    <%= yield(:head) %>
  </head>
  <body>
	
    <div id="wrap" class="container">
	
		<%= render :partial => 'layouts/header' %>

			
			<div id="nav" class="column span-24 last">
				<%= render :partial=>'layouts/menu' %>
			</div>

			<div class='column span-24'>
      	<%- flash.each do |name, msg| -%>
        	<%= content_tag :div, msg, :id => "flash_#{name}" %>
      	<%- end -%>
			</div>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>

    </div><!-- end wrap -->

		 <div id="footer">
        <p>Copyright &copy; CozySystems LLC</p>
    </div>
  </body>
</html>
