<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= yield(:head) %>
    <title> Practice Session</title>
  </head>

  <body onload="<%=h yield(:onload) || 'javascript:void(0)'%>">
    <div id="wrap" class="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%= yield %>
    </div> <!-- end wrap -->

    <div id="ideone-api">
      &copy;<%= Time.now.year %> BlueberryTree uses <a href="http://ideone.com">Ideone API</a> &copy;
       by <a href="http://sphere-research.com">Sphere Research Labs</a>
    </div>
  </body>
</html>
