<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= yield(:head) %>
    <title> Practice Session</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23149470-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body onload="<%=h yield(:onload) || 'javascript:void(0)'%>">
    <div id="wrap" class="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%= yield %>
    </div> <!-- end wrap -->

    <div id="ideone-api">
      &copy;<%= Time.now.year %> BlueberryTree uses <a href="http://ideone.com">Ideone API</a> &copy;
       by <a href="http://sphere-research.com">Sphere Research Labs</a>
    </div>
  </body>
</html>
